.input-range{
    transform: translateZ(90);
    transform: rotate(90) !important;
}
.volume-control-bar-wrap{
    transform: rotate(270deg);
    padding-left: 10px ;
    
}
.input-range__track{
    width: 100px;
}
.volume-control-wrap{

 
}
.input-range__label{
   display: none !important;
}